.course{
    background-color: #ddd;
    width: 23%;
    height: 360px;
    padding: 10px;
    border-radius: 15px;
}

.course-img{
    border-radius: 10px;
    width: 100%;
    height: 177px;
}

.texts{
    height: 47%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title{
    font-size: 20px;
}

.price{
    font-size: 18px;
    margin-top: auto;
}

.discount{
    
}