*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.info-title{
    font-size: 56px;
}

.info-sect{
    display: flex;
    align-items: center;
    gap: 50px;
}

.info-img{
    height: 300px;
    border-radius: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buy-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.buy-btn{
    cursor: pointer;
    background-color: orange;
    margin-left: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition: transform ease 0.2s;
}

.buy-btn:hover{
    transform: scale(1.05);
}

.buy-btn:active{
    background-color: #fff;
    color: orange;
    border: 2px solid orange;
}